I did all the required exercises and fully understand them.

## 3.10 7% Investment Return

In [15]:
# In this problem, we talk about investment return. The amount is monetary, so we import type Decimal.

from decimal import Decimal
original_amount = Decimal('1000.00')
annual_rate = Decimal('0.07')

# The formula for investment return is a = p(1 + r)^n. The variables are as follows:
#  p is the original amount invested (i.e., the principal of $1000)
#  r is the annual rate of return (7%)
#  n is the number of years (in this problem, we will use 10, 20, 30 years)
#  a is the amount on deposit at the end of the nth year

for years in [10,20,30]:
    amount = original_amount * (1 + annual_rate) ** years
    print(f'The investment return amount in {years} years is ${amount:.2f}.')
    
# The result is formatted string literals with the amount in 10, 20, 30 years. The amount is two decimals long.

The investment return amount in 10 years is $1967.15.
The investment return amount in 20 years is $3869.68.
The investment return amount in 30 years is $7612.26.

## 3.13 DS: Factorials

In [9]:
# In this problem, we talk about factorials. We first put an input value.
value = int(input('Enter a nonnegative integer: '))

# We create a sequence of numbers from 0 to value - 1.
x = range(value)

# The definition for factorials are a sequence (ex. 1, 2, 3, ...) multiplies together until we reach the top.
# In the for loop, we first add 1 to all the range.
factorial = 1
for n in x:
    n += 1 
    factorial *= n
    
# The result when I input 30 is a huge number.
factorial

Enter a nonnegative integer:  3

6

When I used the integer input 10000, Python could not produce a factorial value.

## 3.31 DS:Categorical Data

Mode is best for categorical data, since it allows us to see which category has the most values.

## 3.17 Nested Loops

In this problem, we talk about nested loops. The nested loops always does the inner loop first. For example, consider the first pattern. The outer loop is the "row", and the inner loop is the "asterisk". The first integer in "row" is 0, and "asterisk" is the range from 0 to 9. Then, the "row" goes to 1, and "asterisk" is the range from 0 to 9. Eventually, the "row" completes the range, and the loop stops.

In [5]:
# First Pattern
for row in range(10):
    for asterisk in range(10):
        if row >= asterisk:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [6]:
#Second Pattern
for row in range(10):
    for asterisk in range(10):
        if asterisk < 10 - row:
            print('*', end='')
        else:
            print(' ', end='')
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [7]:
#Third Pattern
for row in range(10):
    for asterisk in range(10):
        if asterisk >= row:
            print('*', end='')
        else:
            print(' ', end='')
    print()

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [8]:
#Fourth Pattern
for row in range(10):
    for asterisk in range(10):
        if asterisk >= 9 - row:
            print('*', end='')
        else:
            print(' ', end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

## 3.26 (Research: Anscombeâ€™s Quartet)

I searched up Anscombe's Quartet and I found four datasets that, while the descriptive statistics are identical, the output are different. Meaning, we need more than descriptive statistics to see the data and understand it.