I did all of the required exercises and understand them fully.

In [1]:
import pandas as pd

# 7.23 Data Science: Pandas `DataFrames`

## A. Create a DataFrame named temperatures from a dictionary of three temperature readings each for 'Maxine', 'James' and 'Amanda'.

In [2]:
temperatures_dictionary = {'Maxine': [98.6, 98.9, 100.0], 'James': [98.7, 99.1, 99.2], 'Amanda': [98.1, 99.7, 98.6]}
temperatures_dataframe = pd.DataFrame(temperatures_dictionary)
temperatures_dataframe

   Maxine  James  Amanda
0    98.6   98.7    98.1
1    98.9   99.1    99.7
2   100.0   99.2    98.6

## B. Recreate the DataFrame temperatures in Part (a) with custom indices using the index keyword argument and a list containing 'Morning', 'Afternoon' and 'Evening'.

In [3]:
temperatures_dataframe = pd.DataFrame(temperatures_dictionary, index=['Morning', 'Afternoon', 'Evening'])
temperatures_dataframe

           Maxine  James  Amanda
Morning      98.6   98.7    98.1
Afternoon    98.9   99.1    99.7
Evening     100.0   99.2    98.6

## C. Select from temperatures the column of temperature readings for 'Maxine'.

In [4]:
temperatures_dataframe['Maxine']

Morning       98.6
Afternoon     98.9
Evening      100.0
Name: Maxine, dtype: float64

## D. Select from temperatures the row of 'Morning' temperature readings.

In [5]:
temperatures_dataframe.loc['Morning'] #Access a group of rows and columns by label(s) or a boolean array.

Maxine    98.6
James     98.7
Amanda    98.1
Name: Morning, dtype: float64

## E. Select from temperatures the rows for 'Morning' and 'Evening' temperature readings.

In [6]:
temperatures_dataframe.loc[['Morning', 'Evening'], :]

         Maxine  James  Amanda
Morning    98.6   98.7    98.1
Evening   100.0   99.2    98.6

## F. Select from temperatures the columns of temperature readings for 'Amanda' and 'Maxine'.

In [7]:
temperatures_dataframe.loc[:, ['Amanda', 'Maxine']]

           Amanda  Maxine
Morning      98.1    98.6
Afternoon    99.7    98.9
Evening      98.6   100.0

## G. Select from temperatures the elements for 'Amanda' and 'Maxine' in the 'Morning' and 'Afternoon'.

In [8]:
temperatures_dataframe.loc[['Morning', 'Afternoon'], ['Amanda', 'Maxine']]

           Amanda  Maxine
Morning      98.1    98.6
Afternoon    99.7    98.9

## H. Use the describe method to produce temperaturesâ€™ descriptive statistics.

In [9]:
temperatures_dataframe.describe()

           Maxine      James     Amanda
count    3.000000   3.000000   3.000000
mean    99.166667  99.000000  98.800000
std      0.737111   0.264575   0.818535
min     98.600000  98.700000  98.100000
25%     98.750000  98.900000  98.350000
50%     98.900000  99.100000  98.600000
75%     99.450000  99.150000  99.150000
max    100.000000  99.200000  99.700000

## I. Transpose temperatures.

In [10]:
temperatures_dataframe.T #transpose

        Morning  Afternoon  Evening
Maxine     98.6       98.9    100.0
James      98.7       99.1     99.2
Amanda     98.1       99.7     98.6

## J. Sort temperatures so that its column names are in alphabetical order.

In [11]:
temperatures_dataframe.sort_index(axis=1)

           Amanda  James  Maxine
Morning      98.1   98.7    98.6
Afternoon    99.7   99.1    98.9
Evening      98.6   99.2   100.0

# 8.3 Pig Latin

Write a script that encodes English-language phrases into a form of coded language called pig Latin. There are many different ways to form pig Latin phrases. For simplicity, use the following algorithm:

To form a pig Latin phrase from an English-language phrase, tokenize the phrase into words with string method split. To translate each English word into a pig Latin word, place the first letter of the English word at the end of the word and add the letters â€œay.â€ Thus, the word â€œjumpâ€ becomes â€œumpjay,â€ the word â€œtheâ€ becomes â€œhetay,â€ and the word â€œcomputerâ€ becomes â€œomputercay.â€ If the word starts with a vowel, just add â€œay.â€ Blanks between words remain as blanks. Assume the following: The English phrase consists of words separated by blanks, there are no punctuation marks and all words have two or more letters. Enable the user to enter a sentence, then display the sentence in pig Latin.

In [12]:
def pig_latin(sentence):
    words = sentence.lower().split()
    for index, word in enumerate(words):
        if len(word) > 1:
            if word[0] in 'aeiou':
                words[index] = f'{word}ay'
            else:
                words[index] = f'{word[1:]}{word[0]}ay'
    
    return ' '.join(words)

sentence = input('Enter a sentence: ')
print(pig_latin(sentence))

Enter a sentence:  I love Python

i ovelay ythonpay

# 8.8 Convert Integers to Emojis

Display 10 emojis beginning with the smiley face, which has the value 0x1F600

In [13]:
for emoji in range(0x1F600, 0x1F600 + 100):
    print(f'{emoji:X}: {emoji:c}')  # X formats integers as hexadecimal values

1F600: ğŸ˜€
1F601: ğŸ˜
1F602: ğŸ˜‚
1F603: ğŸ˜ƒ
1F604: ğŸ˜„
1F605: ğŸ˜…
1F606: ğŸ˜†
1F607: ğŸ˜‡
1F608: ğŸ˜ˆ
1F609: ğŸ˜‰
1F60A: ğŸ˜Š
1F60B: ğŸ˜‹
1F60C: ğŸ˜Œ
1F60D: ğŸ˜
1F60E: ğŸ˜
1F60F: ğŸ˜
1F610: ğŸ˜
1F611: ğŸ˜‘
1F612: ğŸ˜’
1F613: ğŸ˜“
1F614: ğŸ˜”
1F615: ğŸ˜•
1F616: ğŸ˜–
1F617: ğŸ˜—
1F618: ğŸ˜˜
1F619: ğŸ˜™
1F61A: ğŸ˜š
1F61B: ğŸ˜›
1F61C: ğŸ˜œ
1F61D: ğŸ˜
1F61E: ğŸ˜
1F61F: ğŸ˜Ÿ
1F620: ğŸ˜
1F621: ğŸ˜¡
1F622: ğŸ˜¢
1F623: ğŸ˜£
1F624: ğŸ˜¤
1F625: ğŸ˜¥
1F626: ğŸ˜¦
1F627: ğŸ˜§
1F628: ğŸ˜¨
1F629: ğŸ˜©
1F62A: ğŸ˜ª
1F62B: ğŸ˜«
1F62C: ğŸ˜¬
1F62D: ğŸ˜­
1F62E: ğŸ˜®
1F62F: ğŸ˜¯
1F630: ğŸ˜°
1F631: ğŸ˜±
1F632: ğŸ˜²
1F633: ğŸ˜³
1F634: ğŸ˜´
1F635: ğŸ˜µ
1F636: ğŸ˜¶
1F637: ğŸ˜·
1F638: ğŸ˜¸
1F639: ğŸ˜¹
1F63A: ğŸ˜º
1F63B: ğŸ˜»
1F63C: ğŸ˜¼
1F63D: ğŸ˜½
1F63E: ğŸ˜¾
1F63F: ğŸ˜¿
1F640: ğŸ™€
1F641: ğŸ™
1F642: ğŸ™‚
1F643: ğŸ™ƒ
1F644: ğŸ™„
1F645: ğŸ™…
1F646: ğŸ™†
1F647: ğŸ™‡
1F648: ğŸ™ˆ
1F649: ğŸ™‰
1F64A: ğŸ™Š
1F64B: ğŸ™‹
1F64C: ğŸ™Œ
1F64D: ğŸ™
1F64E: ğŸ™
1F64F: ğŸ™
1F650: ğŸ™
1F651: ğŸ™‘
1F652: ğŸ™’
1F653: ğŸ™“
1F654: ğŸ™”
1F655: ğŸ™•
1F656: ğŸ™–
1F657: ğŸ™—
1F658: ğŸ™˜
1F659: ğŸ™™
1F65A: ğŸ™š
1F65B: ğŸ™›
1F65C: ğŸ™œ
1F65D: ğŸ™
1F65E: ğŸ™
1F65F: ğŸ™Ÿ
1F660: ğŸ™
1F661: ğŸ™¡
1F662: ğŸ™¢
1F663: ğŸ™£

# 8.13 Regular Expressions: Condense Spaces to a Single Space

Check whether a sentence contains more than one space between words. If so, remove the extra spaces and display the results.

In [18]:
sentence = input("Enter a sentence")
" ".join(sentence.split())

Enter a sentence I    am   cooked    eggs

'I am cooked eggs'